<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.chrismessina.toolkits.lzfse</string>
	<key>category</key>
	<string>Toolkits</string>
	<key>connections</key>
	<dict>
		<key>11B51835-4B8D-4C25-BAF0-7748DAC4E2AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>663D92DD-640D-4667-B4D8-286B311D1B3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F03033B-A0E5-4824-B2E7-74B368220A74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>504677BE-8112-4603-A030-A8ECDAF5CA5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>504677BE-8112-4603-A030-A8ECDAF5CA5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>252304D3-C642-4724-ABAD-989AD79AB9FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0115CC17-79A6-49E2-B6EE-F5C7CA528C42</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>663D92DD-640D-4667-B4D8-286B311D1B3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F03033B-A0E5-4824-B2E7-74B368220A74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7764611-A62A-4172-AB95-DE9C224461CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>663D92DD-640D-4667-B4D8-286B311D1B3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF51ED77-7C51-4604-AA3F-0DCBEB4AF020</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>663D92DD-640D-4667-B4D8-286B311D1B3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Messina</string>
	<key>description</key>
	<string>Extract lzfse files</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>lzfse Toolkit</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>11B51835-4B8D-4C25-BAF0-7748DAC4E2AA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query} files extracted</string>
				<key>title</key>
				<string>lzfse files extracted</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>252304D3-C642-4724-ABAD-989AD79AB9FB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># filepaths from ARGV
for file in $@; do
	# Extract the filename without the extension
	filename=${file%.lzfse}

	# Extract the contents of the lzfse file
	lzfse -decode -i "$file" -o "$filename"
done</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>663D92DD-640D-4667-B4D8-286B311D1B3D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>2</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>Pop Notif</string>
						<key>uid</key>
						<string>0115CC17-79A6-49E2-B6EE-F5C7CA528C42</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Do Nothing</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>504677BE-8112-4603-A030-A8ECDAF5CA5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3F03033B-A0E5-4824-B2E7-74B368220A74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>dyn.ah62d4rv4ge8028xgsrwu</string>
				</array>
				<key>name</key>
				<string>Extract</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>A7764611-A62A-4172-AB95-DE9C224461CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Extract lzfse contents</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>FF51ED77-7C51-4604-AA3F-0DCBEB4AF020</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>11B51835-4B8D-4C25-BAF0-7748DAC4E2AA</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>252304D3-C642-4724-ABAD-989AD79AB9FB</key>
		<dict>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>3F03033B-A0E5-4824-B2E7-74B368220A74</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>504677BE-8112-4603-A030-A8ECDAF5CA5C</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>663D92DD-640D-4667-B4D8-286B311D1B3D</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>A7764611-A62A-4172-AB95-DE9C224461CE</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>FF51ED77-7C51-4604-AA3F-0DCBEB4AF020</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://chrismessina.me</string>
</dict>
</plist>
